<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Furniture.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D068D0E027FFC0D4007391BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D068D0F627FFC0D8007391BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D068D10027FFC0D8007391BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
